<div class="container" id="about">

        <div class="row">
            <div class="col-md-9">
    
                <section>

                    <p>I believe Well designed are the best way to understand data. Afterall, most of your mind is dedicated to seeing information. It only make sense that you would make more of your information seeable.</p>

                    <h3>WHAT IS THIS SITE ABOUT?</h3>
                    <p>I have built and will maintain this site to share my slice of the data visualization pie with you.</p>
                    <p>In this blog you will come around insights shared by some of the most inspiring data visualization professionals from around the world, unpacking how our minds make sense of visual forms.</p>
                    <p>I'll also share my experiences working with and picking up the leading technologies being rolled out today.</p>

                    <h3>WHO IS ROB?</h3>
                    <div class="col-md-4">
                        <div class="image">
                            <img src="/img/about/head-shot.png" alt="" style="width: 100%">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p>I am a freelance data visualization pro based in Bali. One of the many digital nomad hubs of the world.</p>
                        <p>I periodically leave the island for visa runs, conferences and client meetings. My favorite trip involves teaching others how to leverage their data to make better informed decisions. Yes, that what makes me happiest. It's always hard to leave this place of paradise, but I'll do it if it means others are going to learn how to better leverage technology and critical thinking to communicate more effectively.</p>
                        <p>Before joining the ranks of digital nomads running around the world I held titles of industry professional working in supply chain optimization, corporate IT and San Francisco consultant.</p>
                    </div>
    
                    <hr>
    
                </section>
    
            </div>
    
            <!-- <div class="col-md-4">
    
                {{ if isset .Site.Params "address" }}
                <section>
    
                    <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>
    
                    {{ .Site.Params.address | safeHTML }}
    
                </section>
    
                {{ end }}
    
            </div> -->
    
        </div>
        <!-- /.row -->
    </div>
    
    <!-- Uncomment to add in Google Maps -->
    <!-- {{ partial "map.html" . }} -->
    